In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

In [4]:
spx = pd.read_csv('data/sp500.csv',index_col=0)
concat_lst = []
for date in spx['date'].unique():
    ser = spx.loc[spx['date']==date,'gvkey'].reset_index(drop=True).rename(date)
    concat_lst.append(ser)
universe = pd.DataFrame(concat_lst)
universe.index=universe.index.rename('Date')
universe.to_pickle('data/universe.pkl')

display(universe)

spx = pd.read_csv('data/sp500.csv',index_col=0)
concat_lst = []
for date in spx['date'].unique():
    ser = spx.loc[spx['date']==date,'permno'].reset_index(drop=True).rename(date)
    concat_lst.append(ser)
universe = pd.DataFrame(concat_lst)
universe.index=universe.index.rename('Date')
universe.to_pickle('data/permno_universe.pkl')

/var/folders/mq/q4v4ywv11f7091c_j49p3vf40000gn/T/ipykernel_5376/980680949.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  spx = pd.read_csv('data/sp500.csv',index_col=0)

,0,1,2,3,4,5,6,7,8,9,...,492,493,494,495,496,497,498,499,500,501
Date,,,,,,,,,,,,,,,,,,,,,
2011-01-31,7875.0,2184.0,30490.0,1447.0,13646.0,3905.0,63643.0,4843.0,14623.0,7647.0,...,7923.0,11264.0,4674.0,29984.0,25356.0,2269.0,122841.0,5680.0,10190.0,NaN
2011-02-28,6730.0,3336.0,111864.0,7017.0,13125.0,4087.0,27928.0,9850.0,1356.0,12886.0,...,6669.0,2710.0,8446.0,11506.0,23877.0,9299.0,8606.0,27965.0,165675.0,NaN
2011-03-31,29984.0,23877.0,10190.0,5256.0,122841.0,3362.0,13003.0,2269.0,11264.0,6649.0,...,9359.0,24893.0,25340.0,3813.0,30490.0,157057.0,28477.0,3905.0,13646.0,NaN
2011-04-29,11555.0,2184.0,8823.0,28930.0,7506.0,9882.0,8539.0,66446.0,11259.0,64925.0,...,23877.0,9555.0,14282.0,12141.0,4560.0,1447.0,6266.0,64768.0,4990.0,NaN
2011-05-31,29984.0,12138.0,7637.0,10190.0,29028.0,2086.0,1075.0,7881.0,2136.0,3505.0,...,1078.0,149070.0,10187.0,24893.0,30490.0,174490.0,62984.0,10420.0,5786.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08-31,143356.0,6669.0,144009.0,23238.0,9555.0,65417.0,31887.0,29127.0,32106.0,14934.0,...,187450.0,28349.0,7163.0,10795.0,60900.0,6829.0,142953.0,66368.0,NaN,NaN
2021-09-30,3897.0,25279.0,29028.0,13700.0,184996.0,62374.0,133768.0,10867.0,7017.0,7637.0,...,2968.0,14275.0,187450.0,4990.0,7228.0,179437.0,1075.0,2184.0,NaN,NaN
2021-10-29,186989.0,31887.0,3026.0,121382.0,14934.0,6104.0,126554.0,5439.0,6669.0,4060.0,...,175319.0,105365.0,294524.0,3439.0,12124.0,11672.0,25119.0,8007.0,NaN,NaN
2021-11-30,64630.0,8151.0,121077.0,30822.0,22260.0,9465.0,7154.0,165123.0,8068.0,3504.0,...,7647.0,30293.0,175263.0,3144.0,2817.0,117768.0,29830.0,5439.0,NaN,NaN
2021-12-31,2817.0,1075.0,316056.0,25279.0,16245.0,2184.0,179437.0,187450.0,14275.0,6136.0,...,6774.0,10867.0,165914.0,62374.0,23809.0,7228.0,5606.0,13700.0,NaN,NaN

/var/folders/mq/q4v4ywv11f7091c_j49p3vf40000gn/T/ipykernel_5376/980680949.py:12: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  spx = pd.read_csv('data/sp500.csv',index_col=0)

In [35]:
spx[spx['gvkey']!=13353][['permno','gvkey','date']].drop_duplicates().groupby(['permno','date']).count().sort_values(by='gvkey')

                    gvkey
permno  date
10104.0 2011-01-31      1
78916.0 2015-08-31      1
        2015-09-30      1
        2015-10-30      1
        2015-11-30      1
...                   ...
38156.0 2016-12-30      1
        2017-01-31      1
        2017-02-28      1
        2019-12-31      1
93436.0 2021-12-31      1

[65998 rows x 1 columns]

In [41]:
mapper_df = spx[spx['gvkey']!=13353][['date','permno','gvkey']]
mapper_df['date'] = pd.to_datetime(mapper_df['date'])
mapper_df.to_pickle('data/mapper_df.pkl')
def get_mapper(date,permno=None,gvkey=None):
    mapper = mapper_df[mapper_df['date']<= date]
    mapper = mapper[mapper['date'] == mapper['date'].max()].drop('date',axis=1)
    assert len(mapper) > 0
    if permno is not None:
        mapper = mapper.set_index('permno')
        return mapper.loc[permno,'gvkey'].tolist()
    else:
        assert gvkey is not None
        mapper = mapper.set_index('gvkey')
        return mapper.loc[gvkey,'permno'].tolist()

get_mapper('2011-01-31',permno = [60986,85914,80711])

[7875, 2184, 30490]

In [3]:
df = pd.read_csv('data/CRSP_daily.csv')
df['date'] = pd.to_datetime(df['date'],format='%Y%m%d')
print(df.columns)
df.head()

/var/folders/mq/q4v4ywv11f7091c_j49p3vf40000gn/T/ipykernel_99291/840945838.py:1: DtypeWarning: Columns (6,11,16,22) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/CRSP_daily.csv')

Index(['PERMNO', 'date', 'SHRCD', 'EXCHCD', 'TICKER', 'COMNAM', 'SHRCLS',
       'PRIMEXCH', 'TRDSTAT', 'SECSTAT', 'PERMCO', 'CUSIP', 'BIDLO', 'ASKHI',
       'PRC', 'VOL', 'RET', 'BID', 'ASK', 'SHROUT', 'OPENPRC', 'NUMTRD',
       'RETX', 'vwretd', 'vwretx', 'ewretd', 'ewretx', 'sprtrn'],
      dtype='object')

,PERMNO,date,SHRCD,EXCHCD,TICKER,COMNAM,SHRCLS,PRIMEXCH,TRDSTAT,SECSTAT,...,ASK,SHROUT,OPENPRC,NUMTRD,RETX,vwretd,vwretx,ewretd,ewretx,sprtrn
0,10104,2009-01-02,11,3,ORCL,ORACLE CORP,NaN,Q,A,R,...,18.39,5046177.0,17.64,83748.0,0.038353,0.030512,0.030311,0.038274,0.038221,0.031608
1,10104,2009-01-05,11,3,ORCL,ORACLE CORP,NaN,Q,A,R,...,18.09,5046177.0,18.19,96278.0,-0.017382,-0.000600,-0.000623,0.016764,0.016737,-0.004668
2,10104,2009-01-06,11,3,ORCL,ORACLE CORP,NaN,Q,A,R,...,18.39,5046177.0,18.17,105581.0,0.016584,0.011305,0.011295,0.033647,0.033620,0.007817
3,10104,2009-01-07,11,3,ORCL,ORACLE CORP,NaN,Q,A,R,...,17.65,5046177.0,18.06,116318.0,-0.040239,-0.030516,-0.030889,-0.022271,-0.022326,-0.030010
4,10104,2009-01-08,11,3,ORCL,ORACLE CORP,NaN,Q,A,R,...,17.62,5046177.0,17.50,112164.0,-0.0017,0.006281,0.006247,0.011896,0.011791,0.003397

In [4]:
df['date'].min()

Timestamp('2009-01-02 00:00:00')

date        PERMNO
2011-01-04  12456     C
2009-02-11  92890     C
2009-09-01  92988     C
2010-07-01  93422     C
Name: RET, dtype: object

In [14]:
ret_df = df.set_index(['date','PERMNO'])
ret_df = ret_df['RET'][ret_df['RET']!='C'].astype(float).unstack().dropna(axis=1)
ret_df

PERMNO,10104,10107,10138,10145,10516,10696,11308,11404,11600,11618,...,91461,91547,91556,91611,91937,92121,92293,92602,92611,92655
date,,,,,,,,,,,,,,,,,,,,,
2009-01-02,0.038353,0.045782,0.027088,0.055742,0.012487,0.050041,0.013917,0.008477,0.030807,0.047633,...,0.059972,0.009754,0.036327,0.098144,0.000673,-0.002099,0.073500,0.014020,0.018875,0.037218
2009-01-05,-0.017382,0.009346,0.016758,-0.005193,-0.003768,-0.001309,-0.010022,0.005349,-0.032978,-0.003013,...,-0.044737,0.010676,-0.017527,0.041584,0.045760,0.025237,-0.026382,0.007933,0.007111,-0.016310
2009-01-06,0.016584,0.011696,-0.013780,0.045244,-0.027166,0.013634,-0.016065,-0.008614,-0.026643,-0.009890,...,0.085399,-0.005030,-0.008259,-0.025919,0.091377,-0.004103,0.000000,-0.027659,0.070420,-0.023581
2009-01-07,-0.040239,-0.060212,-0.066027,-0.044118,0.001767,-0.036213,0.004921,-0.002045,0.002920,-0.024417,...,-0.062817,-0.008089,0.013324,-0.033895,0.035377,-0.080330,0.001290,-0.012488,-0.021698,-0.007547
2009-01-08,-0.001700,0.031266,-0.002347,0.004354,-0.020466,0.000805,0.006900,0.010499,0.012009,-0.044653,...,0.037915,0.002548,0.038133,0.046195,0.010820,-0.003360,0.030283,0.000000,-0.010646,0.015589
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-06-24,0.045394,0.034150,0.056522,0.031220,0.038606,0.049705,0.018746,0.017742,0.022816,0.028945,...,0.049026,0.041316,0.047986,0.006753,0.008386,0.053879,0.051309,0.018017,0.045108,-0.008343
2022-06-27,-0.004102,-0.010497,-0.008148,-0.009610,0.020397,-0.011679,-0.002062,0.006779,-0.000816,-0.010212,...,0.013781,0.001181,-0.015349,0.007849,-0.003939,-0.005445,-0.047547,-0.006673,-0.009489,0.020216
2022-06-28,-0.025991,-0.031749,-0.021907,-0.013125,-0.000658,-0.026533,-0.010014,0.005986,-0.024503,-0.042827,...,-0.020686,-0.023896,-0.046633,-0.040640,-0.025707,-0.013383,-0.016112,-0.002629,-0.026724,0.005498
2022-06-29,0.009186,0.014738,-0.020107,-0.015629,0.016450,0.003090,0.007225,0.006375,0.015629,0.010982,...,0.000000,0.000907,-0.013328,-0.013432,0.010073,-0.017675,0.005638,-0.015326,0.006966,0.014299
2022-06-30,0.009536,-0.013179,-0.016364,0.003522,0.004661,-0.021232,0.002869,0.004012,-0.018137,0.004224,...,-0.006035,0.013689,-0.022002,0.019300,0.001265,-0.010566,-0.012013,-0.008724,-0.013083,-0.004033

In [15]:
weekly_ret_df = ret_df.groupby(pd.Grouper(level='date', freq='W-FRI')).sum()
weekly_ret_df.to_pickle('data/weekly_ret_df.pkl')
weekly_ret_df

PERMNO,10104,10107,10138,10145,10516,10696,11308,11404,11600,11618,...,91461,91547,91556,91611,91937,92121,92293,92602,92611,92655
date,,,,,,,,,,,,,,,,,,,,,
2009-01-02,0.038353,0.045782,0.027088,0.055742,0.012487,0.050041,0.013917,0.008477,0.030807,0.047633,...,0.059972,0.009754,0.036327,0.098144,0.000673,-0.002099,0.073500,0.014020,0.018875,0.037218
2009-01-09,-0.057493,-0.037725,-0.130083,-0.013008,-0.042428,-0.055263,-0.028413,0.010257,-0.059075,-0.098645,...,-0.003809,-0.012605,-0.024361,0.074180,0.155165,-0.083904,-0.030456,-0.041113,0.042676,-0.041583
2009-01-16,-0.024707,0.010868,-0.078948,-0.034541,-0.075734,-0.072656,-0.016246,0.010649,-0.008529,0.005419,...,-0.017478,-0.003335,0.028774,-0.102293,-0.229519,-0.132207,-0.009520,-0.004400,-0.156351,-0.033855
2009-01-23,-0.005235,-0.125575,0.033119,-0.020989,0.053121,-0.058937,-0.037599,-0.000304,-0.016951,-0.020496,...,-0.061885,0.012681,0.014141,-0.053711,-0.052246,-0.008112,-0.086535,-0.021402,-0.060593,0.100980
2009-01-30,0.004783,-0.004582,-0.065498,0.021220,0.017187,0.009111,0.012745,0.017723,0.010767,0.054231,...,-0.003335,0.009283,-0.058046,0.041368,0.063641,-0.043224,-0.057723,-0.102293,0.113577,0.012357
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-06-03,-0.013215,-0.011669,-0.036959,-0.007272,-0.009673,-0.016579,-0.026450,-0.026774,0.022184,0.006309,...,-0.021685,0.004053,-0.053221,0.041086,0.018594,-0.016642,-0.000282,-0.013585,-0.000664,-0.042983
2022-06-10,-0.065732,-0.063767,-0.083233,-0.044085,-0.036723,-0.053761,-0.024879,-0.028107,-0.057095,-0.045697,...,-0.026555,-0.048246,-0.064443,-0.095556,-0.045003,-0.112351,-0.029307,-0.030145,-0.062608,-0.001769
2022-06-17,0.015079,-0.019503,-0.059835,-0.035465,-0.089463,-0.054512,-0.024897,-0.089593,-0.077037,-0.068620,...,-0.067552,-0.062895,-0.030588,-0.012489,-0.020986,-0.033060,-0.040767,-0.042980,-0.047311,-0.065174
2022-06-24,0.044345,0.078974,0.132681,0.002546,-0.032528,0.056200,0.059468,0.067981,0.043577,0.068983,...,0.059379,0.077124,0.038110,0.049876,0.072556,0.050497,0.111826,0.054874,0.079777,0.094345
2022-07-01,-0.011371,-0.040687,-0.066526,-0.034842,0.040850,-0.056354,-0.001982,0.023152,-0.027827,-0.037833,...,-0.012940,-0.008119,-0.097312,-0.026923,-0.018308,-0.047069,-0.070034,-0.033352,-0.042330,0.035980

In [16]:
ret_periods = [1,5,10,21,42,63,126]
hist_ret_lst = []

for period in ret_periods:
    ser = ret_df.rolling(period,min_periods=period,axis=0).mean().stack()*252/period
    ser = ser.rename(f'annret_{period}')
    hist_ret_lst.append(ser)

    ser = ret_df.rolling(period,min_periods=period,axis=0).std().stack()*np.sqrt(252/period)
    ser = ser.rename(f'annvol_{period}')
    hist_ret_lst.append(ser)

hist_ret_df = pd.concat(hist_ret_lst,axis=1)
hist_ret_df

                    annret_1  annvol_1  annret_5  annvol_5  annret_10  \
date       PERMNO
2009-01-02 10104    9.664956       NaN       NaN       NaN        NaN
           10107   11.537064       NaN       NaN       NaN        NaN
           10138    6.826176       NaN       NaN       NaN        NaN
           10145   14.046984       NaN       NaN       NaN        NaN
           10516    3.146724       NaN       NaN       NaN        NaN
...                      ...       ...       ...       ...        ...
2022-06-30 92121   -2.662632       NaN  0.068645  0.210793   0.009206
           92293   -3.027276       NaN -0.188748  0.257414   0.066132
           92602   -2.198448       NaN -0.154577  0.089801   0.047570
           92611   -3.296916       NaN  0.028002  0.196263   0.015823
           92655   -1.016316       NaN  0.278581  0.085227   0.270388

                   annvol_10  annret_21  annvol_21  annret_42  annvol_42  \
date       PERMNO
2009-01-02 10104         NaN        NaN        NaN        NaN        NaN
           10107         NaN        NaN        NaN        NaN        NaN
           10138         NaN        NaN        NaN        NaN        NaN
           10145         NaN        NaN        NaN        NaN        NaN
           10516         NaN        NaN        NaN        NaN        NaN
...                      ...        ...        ...        ...        ...
2022-06-30 92121    0.163105  -0.097213   0.116127  -0.020913   0.077950
           92293    0.170474  -0.017365   0.093211  -0.013152   0.073374
           92602    0.071178  -0.033404   0.051003   0.000911   0.043490
           92611    0.120035  -0.039886   0.075891  -0.009506   0.055929
           92655    0.113159   0.023297   0.067847   0.002888   0.044262

                   annret_63  annvol_63  annret_126  annvol_126
date       PERMNO
2009-01-02 10104         NaN        NaN         NaN         NaN
           10107         NaN        NaN         NaN         NaN
           10138         NaN        NaN         NaN         NaN
           10145         NaN        NaN         NaN         NaN
           10516         NaN        NaN         NaN         NaN
...                      ...        ...         ...         ...
2022-06-30 92121   -0.009318   0.060097   -0.002284    0.039351
           92293   -0.017518   0.051253   -0.001637    0.047591
           92602    0.004514   0.033413    0.001437    0.024069
           92611   -0.006987   0.046402   -0.001072    0.031903
           92655   -0.000057   0.034850    0.000618    0.023030

[1243302 rows x 14 columns]

In [17]:
hist_ret_df = hist_ret_df.drop('annvol_1',axis=1)
hist_ret_df.to_pickle('data/hist_ret_df.pkl.gz')

In [18]:
df2 = pd.read_csv('data/CRSP_monthly.csv')
df2.columns

/var/folders/mq/q4v4ywv11f7091c_j49p3vf40000gn/T/ipykernel_99291/1719039263.py:1: DtypeWarning: Columns (44,48,49,50,56,70,71,76) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('data/CRSP_monthly.csv')

Index(['GVKEY', 'LPERMNO', 'LPERMCO', 'iid', 'datadate', 'tic', 'cusip',
       'conm', 'ajexm', 'ajpm', 'isalrt', 'primiss', 'cheqvm', 'curcddvm',
       'dvpspm', 'dvpsxm', 'dvrate', 'csfsm', 'cshtrm', 'curcdm', 'navm',
       'prccm', 'prchm', 'prclm', 'trfm', 'trt1m', 'rawpm', 'rawxm', 'sph100',
       'sphcusip', 'sphiid', 'sphmid', 'sphname', 'sphsec', 'sphtic', 'sphvg',
       'cshoq', 'adrrm', 'cmth', 'cshom', 'cyear', 'mkvalincl', 'exchg',
       'secstat', 'tpci', 'cik', 'fic', 'add1', 'add2', 'add3', 'add4',
       'addzip', 'busdesc', 'city', 'conml', 'costat', 'county', 'dlrsn',
       'ein', 'fax', 'fyrc', 'ggroup', 'gind', 'gsector', 'gsubind', 'idbflag',
       'incorp', 'loc', 'naics', 'phone', 'prican', 'prirow', 'priusa', 'sic',
       'spcindcd', 'spcseccd', 'spcsrc', 'state', 'stko', 'weburl', 'dldte',
       'ipodate'],
      dtype='object')

In [19]:
df2['datadate'].min()

20080131

In [20]:
all_sectors = df2['gsector'].dropna().unique()
sector_df = df2[['datadate','GVKEY','gsector']]
sector_df['datadate'] = pd.to_datetime(sector_df['datadate'],format='%Y%m%d')
sector_df = sector_df.sort_values('datadate').dropna()
sector_df.to_pickle('data/sector_df.pkl')
sector_df

/var/folders/mq/q4v4ywv11f7091c_j49p3vf40000gn/T/ipykernel_99291/1764462293.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sector_df['datadate'] = pd.to_datetime(sector_df['datadate'],format='%Y%m%d')

         datadate   GVKEY  gsector
250142 2008-01-31   16821     40.0
712649 2008-01-31  135986     35.0
23598  2008-01-31    2436     25.0
617606 2008-01-31   65050     40.0
90808  2008-01-31    6649     25.0
...           ...     ...      ...
42924  2022-12-31    3662     20.0
42744  2022-12-31    3650     20.0
112923 2022-12-31    8007     40.0
265164 2022-12-31   17795     40.0
114652 2022-12-31    8099     55.0

[921538 rows x 3 columns]

In [24]:
from itertools import combinations

def get_sector_edges(date,gvkey_dict):
    cur_sector_df = sector_df[sector_df['datadate']<= date]
    cur_sector_df = cur_sector_df[cur_sector_df['datadate'] == cur_sector_df['datadate'].max()].drop('datadate',axis=1)
    total = 0
    edge_lst = []
    for sector in all_sectors:
        gvkeys = cur_sector_df.loc[cur_sector_df['gsector']==sector,'GVKEY'].unique()
        pairs = list(combinations(gvkeys,2))
        total += len(pairs)
        edge_lst.extend(pairs)
    print(total)
    return edge_lst

In [32]:
_ = get_sector_edges(datetime(2013,1,1),get_gvkey_dict())

1406224

In [29]:
df3 = pd.read_csv('data/supply_chain.csv')
print(df3.columns)
df3

Index(['gvkey', 'conm', 'cgvkey', 'cconm', 'cnms', 'srcdate', 'cid', 'sid',
       'ctype', 'salecs', 'scusip', 'stic', 'ccusip', 'ctic'],
      dtype='object')

,gvkey,conm,cgvkey,cconm,cnms,srcdate,cid,sid,ctype,salecs,scusip,stic,ccusip,ctic
0,1013,ADC TELECOMMUNICATIONS INC,2136,VERIZON COMMUNICATIONS INC,VERIZON COMMUNICATIONS,2002/10/31,10,0,COMPANY,111.056,000886309,ADCT.1,92343V104,VZ
1,1013,ADC TELECOMMUNICATIONS INC,2136,VERIZON COMMUNICATIONS INC,VERIZON COMMUNICATIONS,2004/10/31,13,0,COMPANY,104.312,000886309,ADCT.1,92343V104,VZ
2,1013,ADC TELECOMMUNICATIONS INC,2136,VERIZON COMMUNICATIONS INC,VERIZON COMMUNICATIONS,2005/10/31,13,0,COMPANY,146.000,000886309,ADCT.1,92343V104,VZ
3,1013,ADC TELECOMMUNICATIONS INC,2136,VERIZON COMMUNICATIONS INC,VERIZON COMMUNICATIONS,2006/10/31,13,0,COMPANY,205.000,000886309,ADCT.1,92343V104,VZ
4,1013,ADC TELECOMMUNICATIONS INC,2136,VERIZON COMMUNICATIONS INC,VERIZON COMMUNICATIONS,2007/10/31,13,0,COMPANY,236.000,000886309,ADCT.1,92343V104,VZ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71201,328032,NAVIOS MARITIME CONTAINERS,100431,HAPAG-LLOYD AG,Hapag-Lloyd AG,2019/12/31,3,1,COMPANY,25.334,Y62151108,NMCI,NaN,NaN
71202,328795,ARCOSA INC,5047,GENERAL ELECTRIC CO,General Electric Co,2018/12/31,1,2,COMPANY,283.318,039653100,ACA,369604301,GE
71203,328795,ARCOSA INC,5047,GENERAL ELECTRIC CO,General Electric Co,2019/12/31,1,2,COMPANY,316.116,039653100,ACA,369604301,GE
71204,328795,ARCOSA INC,5047,GENERAL ELECTRIC CO,General Electric Co,2020/12/31,1,2,COMPANY,296.147,039653100,ACA,369604301,GE
71205,328795,ARCOSA INC,5047,GENERAL ELECTRIC CO,General Electric Co,2021/12/31,1,2,COMPANY,192.727,039653100,ACA,369604301,GE

In [30]:
supchain_df = df3[['srcdate','gvkey','cgvkey','salecs']].sort_values(['srcdate'])
supchain_df['srcdate'] = pd.to_datetime(supchain_df['srcdate'])
supchain_df.to_pickle('data/supchain_df.pkl')
supchain_df

         srcdate   gvkey  cgvkey    salecs
39015 2000-01-31   62093   11535    12.373
47619 2000-01-31  117784    7127   425.376
8306  2000-01-31    7606    6066     0.081
50900 2000-01-31  132369   61877     0.571
39864 2000-01-31   62742    5691     1.653
...          ...     ...     ...       ...
42962 2022-03-31   64853  104604   511.029
18472 2022-03-31   16401  294932       NaN
18471 2022-03-31   16401    1690  1407.353
62781 2022-03-31  174077    1773   284.749
42961 2022-03-31   64853    1690  1533.086

[71206 rows x 4 columns]

In [31]:
def get_gvkey_dict():
    gvkey_dict = set(supchain_df['gvkey']).intersection(supchain_df['cgvkey'])
    N = len(gvkey_dict)
    gvkey_dict = dict(zip(list(gvkey_dict),range(N)))
    return gvkey_dict

def get_edges(date,gvkey_dict):
    cur_df = supchain_df[(supchain_df['srcdate'] <= date) & (supchain_df['srcdate'] >= date -pd.DateOffset(years=3)) ]
    gvkeys = gvkey_dict.keys()
    cur_df = cur_df[cur_df['gvkey'].isin(gvkeys) & cur_df['cgvkey'].isin(gvkeys)]
    c_edge_list = cur_df[['gvkey','cgvkey']].rename({'gvkey':'sup','cgvkey':'con'},axis=1).applymap(lambda x:gvkey_dict[x])
    s_edge_list = c_edge_list[['con','sup']].rename({'sup':'con','con':'sup'},axis=1)
    
    return c_edge_list.values,s_edge_list.values

In [46]:
from datetime import datetime
get_edges(datetime(2010,1,1),get_gvkey_dict())

(array([[1007, 1032],
        [  57,  638],
        [  57,   19],
        ...,
        [  44,  230],
        [ 273,  273],
        [ 273,  273]]),
 array([[1032, 1007],
        [ 638,   57],
        [  19,   57],
        ...,
        [ 230,   44],
        [ 273,  273],
        [ 273,  273]]))